head
	title= pkg.name + ' | ' + title
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	
	//- Bootstrap 
	link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
	//link(href='/bootstrap/css/bootstrap-theme.min.css', rel='stylesheet', media='screen')
	link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', media='screen')
	link(href='/css/theprintlab.css', rel='stylesheet', media='screen')