/* app css stylesheet */

@import 'retina.less';
@import 'plcolors.less';

.pl-label {
	font-size: 12px;
}

.pl-logo {
	.at2x('/img/pl-logo.png', 50px, 50px);
	width: 50px;
	height: 50px;
	float: left;
}

.tablesorter thead .disabled { 
	display: none
}

.pl-row {
	font-size: 12px;
}